# git
alias gc='git commit -s'
alias gca='git commit --amend --no-edit'
alias gpf='git push --force-with-lease'
alias grpo='git remote prune origin'

# gitlab
alias gl='glab mr create --fill --push --remove-source-branch --squash-before-merge --yes'

# kubernetes
alias k='kubectl'
alias port='open /Applications/DBeaver.app; kubectl port-forward svc/postgresql 5432:5432'
alias sqv3='kubectl port-forward svc/minio 5000:80'
alias psql='kubectl exec -it "$(kubectl get pods -l app=postgresql -o name | tail -1)" -- /bin/sh -c "PGPASSWORD=$(echo $(kubectl get secret postgresql -o jsonpath='{.data.PASSWORD}' | base64 -d)) /usr/bin/psql -U postgres"'

# ls
alias ll='ls -l'
alias la='ls -al'

# openstack
alias os='openstack'

# podman
alias docker='podman'

# ssh
alias startsshd='sudo launchctl load -w  /System/Library/LaunchDaemons/ssh.plist'
alias stopsshd='sudo launchctl unload  /System/Library/LaunchDaemons/ssh.plist'

# terraform
alias tf='terraform'
alias tfd='terraform destroy -auto-approve'
alias tfa='terraform apply -auto-approve'
alias tfo='terraform output'
alias tfi='terraform init'

# wireguard
alias wg-list='sudo ls /usr/local/etc/wireguard'
alias wg-status='sudo wg show'

