[commit]
	gpgSign = true
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[format]
	signOff = true
[gitreview]
	username = tibeer
[gpg]
	format = ssh
[init]
	defaultBranch = main
[pull]
	rebase = false
[tag]
	gpgSign = true
[user]
	email = *****
	name = Tim Beermann
	signingKey = ~/.ssh/id_ed25519.pub
